.terms-conditions {
    font-size: 1rem;
    color: #343a40;
    line-height: 1.6;
  }
  
  .terms-conditions h2 {
    font-weight: 700;
    color: #212529;
  }
  
  .terms-conditions h4 {
    margin-top: 1.5rem;
    font-weight: 600;
    color: #495057;
  }
  