.bggrey {
  background-color: #f8f9fa;
}

.height {
  min-height: 500px;
}

.space-arnd {
  justify-content: space-around;
}

.badge {
  color: black;
}

.badge-warning {
  background-color: #ffc107;
}

.badge-success {
  background-color: #28a745;
}

.ppk{
  margin-block: 56px;
}

.card-text{
  max-height: 12rem;
}

/* Estos estilos no están funcionando */
:root ::ng-deep,
[data-bs-theme="light"] {
  --bs-carousel-indicator-active-bg: #595959 !important;
}

.carousel-control-next-icon ::ng-deep {
  background-color: black !important;
  border-radius: 4px !important;
}

.carousel-control-prev-icon ::ng-deep {
  background-color: black !important;
  border-radius: 4px !important;
}
